<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- GET BOOTSTARP CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- CSS STYLE -->
  <link rel="stylesheet" th:href="@{/resources/css/style.css}">
  <!-- GET jQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- GET BOOTSTARP JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!-- ==== Header Start ==== -->
<nav class="navbar navbar-inverse bg-primary ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<!-- ==== Header END ==== -->


<!-- ==== Content Start ==== -->

<!-- Comments list Section -->
<div class="clearfix">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>Ryan Haywood</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <div class="post-description"> 
                    <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                    <div class="clearfix">&nbsp;</div>
                    <div class="stats pull-right">
                        <a href="#" class="btn btn-default stat-item">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>
<!-- END Comments list Section -->




<!-- END Comment List  -->
<div class="clearfix">&nbsp;</div>
<div class="container col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <h3>User Comments</h3>
        </div><!-- /col-sm-12 -->
    </div><!-- /row -->
    <div class="row">
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->

        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
                </div>
                <div class="panel-body">
                    Panel content
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    </div>
    <div class="clearfix">&nbsp;</div>
</div>
<!-- END Comment List  -->



<!-- Comment Box  -->
<div class="clearfix">&nbsp;</div>
<div class="widget-area no-padding blank">
    <h4>Enter Comments:</h4>
    <div class="status-upload">
        <form role=form>
            <div class="from-group col-md-4">
             <input placeholder="First Name" type="text" class="form-control" id="firstName"/>
            </div>
            <div class="from-group col-md-4">
             <input placeholder="Last Name" type="text" class="form-control col-sm-6" id="lastName"/>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="from-group col-md-4">
             <input placeholder="Enter Username" type="text" class="form-control" id="username"/>
            </div>
            <div class="from-group col-md-4">
             <input placeholder="Enter Password" type="password" class="form-control" id="password"/>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="from-group col-md-8">
             <textarea placeholder="Enter Your Comments" class="form-control"></textarea>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="from-group pull-right">
                <button type="submit" class="btn btn-info">Post Comment</button>
            </div>
        </form>
    </div><!-- ./Status Upload  -->
</div><!-- ./Widget Area -->
<!-- END Comment Box  -->

<!-- ==== CONTENT END ==== -->

<!-- ==== FOOTER START ==== -->
<!-- <footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer> -->
<!-- ==== FOOTER END ==== -->
</body>
</html>
